:root {
  box-sizing: border-box;
}

img {
  display: none;
  width: 700px;
  aspect-ratio: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

span {
  font-size: max(6vh, 6vw);
  font-family: 'Product Sans';
}

#first-letter {
  font-size: max(8vh, 8vw);
}

input {
  border-radius: 20px;
  border: solid 1px lightgray;
  width: min(600px, 80vw);
  font-size: 2vh;
  padding: 10px;
}

input:hover,
input:focus {
  box-shadow: 0px 1px 6px #dcdcdc;
  outline: #dcdcdc;
}

button {
  border: none;
  background-color: rgba(249, 249, 249, 0.778);
  border-radius: 5px;
  width: 20%;
  font-size: 1.8vh;
  padding: 10px;
  color: rgb(84, 84, 84);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.heading {
  cursor: pointer;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}