:root {
  box-sizing: border-box;
  color: rgb(84, 84, 84);
}

img {
  display: none;
  width: max(40vw, 50vh);
  aspect-ratio: 1;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

span {
  font-size: 75px;
  font-family: 'Product Sans';
  margin: 0 0 0 -5px;
}

#first-letter {
  font-size: 90px;
}

input {
  border-radius: 20px;
  border: solid 1px lightgray;
  width: min(600px, 80vw);
  font-size: 2vh;
  padding: 10px 10px 10px 50px;
}

input:hover,
input:focus {
  box-shadow: 0px 1px 6px #dcdcdc;
  outline: #dcdcdc;
}

i {
  position: relative;
  top: max(3.1vw, 56px);
  right: min(305px, calc(80vw / 2));
  color: #919191;
}

button {
  border: none;
  background-color: rgba(249, 249, 249, 0.778);
  border-radius: 5px;
  width: 20%;
  font-size: 1.8vh;
  padding: 10px;
  color: rgb(84, 84, 84);
}

button:hover {
  box-shadow: 0px 0px 0px 1px rgb(129, 129, 129);
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  cursor: pointer;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}